<div class="col-sm-12">
    <div style="max-height: 60vh;">
        <div class="row">
            <div style="max-height: 50vh; overflow-y: auto; width: 100%">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>IP and Port</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clientList">
                            <td (click)="selectedClient(client)">{{client}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>